<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
    <title>公司</title>
</head>
<body>
<div class="layui-btn-group">
    <button type="button" class="layui-btn" onclick="subscribe()">重新订阅</button>
    <button type="button" class="layui-btn" onclick="readiness()">接收就绪</button>
</div>
<table class="layui-hide" id="message"></table>
<script src="/layui/layui.js" charset="utf-8"></script>
<script src="/js/manage/message.js" charset="utf-8"></script>
</body>
</html>